<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="./static/assets/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="./static/assets/favicon.ico" rel="icon">

 

  <title>JNNCE ECE</title>  

<link href="./static/main.a3f694c0.css" rel="stylesheet"></head>

<body>

 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle uarr collapsed" data-toggle="collapse" data-target="#navbar-collapse-uarr">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./index.html" title="">
          <img src="./static/assets/images/mashuptemplate.svg" class="navbar-logo-img" alt="">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-uarr">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="./index.html" title="" class="active"> Home </a></li>
          <li><a href="./works.html" title=""> Works </a></li>
          <li><a href="./about.html" title=""> About Me </a></li>
          <li><a href="./contact.html" title=""> Contact </a></li>
          
          
        </ul>
      </div>
    </div>
  </nav>
</header>




<div class="section-container">
    <div class="container">
        <div class="row section-container-spacer">
            <div class="col-xs-12">
                <div class="text-center">
                    <h1>WORKS</h1>
                </div>
                <div class="col-md-8 col-md-offset-2">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="pricing-card pricing-primary">
                    <h3>FLASK</h3>
                    
                </div>
                <div class="pricing-features">
                    <ul class="features">
                        <li>Flask is a web framework it's a python module that lets we develop web applications easily</li>
                        <li>It has a small and easy-to-extend core</li>
                        <li>In the first step, we will activate our python environment and install Flask using pip package installer</li>
                        <li>In flask_blog directory, we created a file named as server.py, for editing we used sublime text editor</li>
                    </ul>

                   
                </div>

            </div>
            <div class="col-md-4">
                <div class="pricing-card pricing-info">
                    <h3>PYTHON</h3>
                    
                </div>
                <div class="pricing-features">
                    <ul class="features">
                        <li>Python is an interpreted high level general purpose programming language</li>
                        <li>We use the latest version of Python 3.9.7</li>
                        <li>Python can be used for various apllications such as AI and Machine learning, Data analytics, Data visualisation, programming applcations, Game development and Finance </li>

                        
                    </ul>
                    
                   
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-card pricing-secondary">
                    <h3> < HTML > </h3>
                    
                </div>
                <div class="pricing-features">
                    <ul class="features">
                        <li>The Hyper Text Markup Langauge, or HTML is the standard markup language for documents designed to be displayed in a web browser</li>
                        <li>HTML can be assisted by technologies such as Cascading Style Sheets and scripting languages such as JavaScript</li>
                        <li>In HTML we used certain tags like head, title, footer, body, template, label, break, paragraph, font, unordered list, ordered list, list and many more
                        </li>

                        
                       

                    </ul>
                   
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="pricing-card pricing-primary">
                    <h3>{ CSS }</h3>
                    
                </div>
                <div class="pricing-features">
                    <ul class="features">
                        <li>CSS stands for Casding Style Sheets</li>
                        <li>It is designed to enable the separation of presentation of web pages, including colours, layout and fonts
                        <li>
                           This separation can improve content accessibility, provide more flexibility and control in the specifications of presentation characteristics  
                        </li>
                        

                   
                </div>

            </div>
            <div class="col-md-4">
                <div class="pricing-card pricing-info">
                    <h3>{ JS }</h3>
                    
                </div>
                <div class="pricing-features">
                    <ul class="features">
                        <li>JavaScript is used to develop interactive web applications</li>
                        <li>JavaScript can power featured like interactive images, carousels, and forms</li>
                        <li>The language can be used with back-end frameworks like Node. js to power the mechanics behind a web page, such as form processing and payments</li>
                       
                    </ul>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-card pricing-secondary">
                    <h3>GitHub</h3>
                    
                </div>
                <div class="pricing-features">
                    <ul class="features">
                        <li>GitHub is a Git repository hosting service, but it adds many of its own features</li>
                        <li>While Git is a command line tool, GitHub provides a Web-based graphical interface</li>
                        <li>It also provides access control and several collaboration features, such as a wikis and basic task management tools for every project</li>
                        
                    </ul>
              
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-card pricing-primary">
                    <h3>Python Anywhere For Hosting</h3>
                    
                </div>
                <div class="pricing-features">
                    <ul class="features">
                        <li>PythonAnywhere is an online integrated development environment (IDE) and web hosting service (Platform as a service) based on the Python programming language</li>
                        <li>Web applications hosted by the service can be written using any WSGI-based application framework.
                        </li>
                        <li>PythonAnywhere is described as "the simplest way to deploy web2py applications</li>
                     
                    </ul>

             
                </div>

            </div>
            <div class="col-md-4">
                <div class="pricing-card pricing-info">
                    <h3> Sublime Text Editor</h3>
                    
                </div>
                <div class="pricing-features">
                    <ul class="features">
                        <li>Sublime Text is a commercial source code editor</li>
                        <li>It natively supports many programming languages and markup languages</li>
                        <li>Users can expand its functionality with plugins, typically community-built and maintained under free-software licenses</li>
                        <li>To facilitate plugins, Sublime Text features a Python API</li>
                    </ul>
                    
                    
                </div>
            </div>
        </div>

    </div>
</div>  




<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navActivePage();
  });
</script>
<script type="text/javascript" src="./static/main.41beeca9.js"></script></body>

</html>